extends layout
block content
	p Main page
	canvas(id='chart1' height = 400)
	canvas(id='chart2' height = 400)
	canvas(id='chart3' height = 400)
	div
		p(hidden id='q1') #{data[0]}
		p(hidden id='q2') #{data[1]}
		p(hidden id='q3') #{data[2]}
		p(hidden id='amount') #{data[3]}
	script(type="text/javascript" src="./chart.js")