doctype html
html
	head
		title Data Express
		link(href='style.css', rel='stylesheet')
	body
		header
			div(id="navbar")
				nav
					ul
						each item in config.routes
							li
								a(href=item[1] class="navbutton") #{item[0]}
			block content
		footer
			p(id='lastVisit')
				script(type="text/javascript" src="./lastVisited.js")