doctype html
html
	head
		title Data Express
		link(href='style.css', rel='stylesheet')
	body
		header
			nav
				ul
					li
						a(href='/') Home
					li
						a(href='/profile') Profile
					li
						a(href='/login') Log In
					li
						a(href='/signup') Sign Up
		div(id='content')
			block content
		footer