doctype html
html
	head
		title Data Express
		link(href='style.css', rel='stylesheet')
	body
		header
			nav
				ul
					//- Change this section depending on the user status and type
					li
						a(href='/') Home
					li
						a(href='/profile') Profile
					li
						a(href='/login') Log In
					li
						a(href='/signup') Sign Up
					li
						a(href='/admin') Admin Only
			block content
		footer
			p(id='lastVisit')
				script(type="text/javascript" src="./lastVisited.js")