extends layout

block content
	form(id='form' method='post' action='/login')
			label Username	
			input(type='text' name='username')
			br
			label Password	
			input(type='password' name='password')
			br
			input(type='submit' value='Log In')