extends layout

block content
	form(id='form' method='post' action='/signup')
		label Username	
		input(type='text' name='username')
		br
		label Password	
		input(type='password' name='password')
		br
		label Confirm Password	
		input(type='password' name='confPass')
		br
		label Age
		input(type='number' name='age')
		br
		fieldset(id='question1')
			label Would you rather: 
			input(type='radio' name='question1' value='1' fieldset='question1') 
			label Be illiterate
			input(type='radio' name='question1' value='0' fieldset='question1') 
			label Take everything literally
		fieldset(id='question2')
			label Would you rather: 
			input(type='radio' name='question2' value='1' fieldset='question2') 
			label Only be able to laugh at blonde jokes
			input(type='radio' name='question2' value='0' fieldset='question2') 
			label Not be able to understand sarcasm
		fieldset(id='question3')
			label Would you rather: 
			input(type='radio' name='question3' value='1' fieldset='question3') 
			label Sleep in a room that's slightly too warm
			input(type='radio' name='question3' value='0' fieldset='question3') 
			label Sleep in a room that's slightly too cold
		br
		input(type='submit' value='Submit')
		
	