extends layout

block content
	p Your details:
	ul
		li Age: #{user.age}
		li Would rather #{user.answer1Blurb}
		li Would rather #{user.answer2Blurb}
		li Would rather #{user.answer3Blurb}
	a(href='/edit-details') Edit Details